<ActionBar title="Home">
</ActionBar>

<side-drawer-page>
    <TabView [(ngModel)]="selectedIndex" sdkExampleTitle sdkToggleNavButton verticalAlignment="stretch">
        <StackLayout rows="auto, *" *tabItem="{title: 'Form', tabindex: 0}">
            <Label text="Form showcase" class="m-15 h2 text-left"></Label>
            <TextField [(ngModel)]="email" keyboardType="email" hint="Write here your email"></TextField>
            <SearchBar></SearchBar>
            <Label [text]="countries[selCountry].name" class="m-15 h2 text-left"></Label>
            <Button id="button1" class="btn btn-primary btn-active" text="Primary button" (tap)="toSecondTab()"></Button>
            <Button id="button2" class="btn btn-outline btn-active" text="Mail button" (tap)="onMailButtonPress()"></Button>
            <Button id="button3" class="btn btn-primary btn-rounded-sm btn-active" text="Small rounded corners"></Button>
            <Button id="button4" class="btn btn-primary btn-rounded-lg btn-active" text="Large rounded corners"></Button>
        </StackLayout>
        <StackLayout *tabItem="{title: 'List', tabindex: 1}">
            <ListView [items]="countries" class="list-group" (itemTap)="onItemTap($event)">
                <template let-country="item" let-i="index" let-odd="odd" let-even="even">
                    <GridLayout class="list-group-item">
                        <Label [text]="country.name"></Label>
                    </GridLayout>
                </template>
            </ListView>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Gliphys', tabindex: 2}">
        <ListView [items]="glyphs">
            <template let-item="item">
                <StackLayout orientation="horizontal">
                    <Label [text]="item.icon" class="icon"></Label>
                    <Label [text]="item.code"></Label>
                </StackLayout>
            </template>
        </ListView>
        </StackLayout>
    </TabView>
</side-drawer-page>
